*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #F1F2F3;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    filter: drop-shadow(10px);
    position: fixed;
    z-index: 9999;
}
nav a{
    color: #000000;
    font-weight: 550;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease;
}
nav a:hover{
    color: #8793CB;
}
header img{
    width: 50px;
    margin-left: 10px;
}

/*Home section*/
.home{
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.homeContent{
    background-color: #e7e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 100%;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 120px;
    margin-bottom: 20px;
    border: 2px solid #8793CB;
    position: relative;
}
.homeCard{
    height: auto;
    max-width: 350px;
    margin-left: 30px;
    margin-right: 30px;
}
#h1card{
    font-size: 64px;
    margin-bottom: 30px;
}
#pcard{
    font-size: 25px;
    margin-bottom: 30px;
}
.imgCard{
    margin-right: 40px;
}
.btnKnowMore{
    background-color: #f4f4f4;
    color: #555;
    padding: 20px 35px;
    cursor: pointer;
    bottom: 0;
    position: absolute;
    right: 0;
    transition: 0.8s ease;
    border-bottom: none;
    border-right: none;
}
.btnKnowMore:hover{
    background-color: #afaeff;
    color: #003b3f;
}

/*News section*/
.navNews{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 25px;
    position: relative;
}
.titleNews{
    font-size: 30px;
}
.navbtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    bottom: 0;
    right: 0;
    position: absolute;
}
.navbtn{
    background-color: #F1F2F3;
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    border: 1px solid;
}

/*News part*/
.containerNews{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    gap: 30px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
}
.news1{
    background-color: #555;
    margin-left: 10px;
    padding: 20px;
}
